<div class="header-parent" style="width: 100%;">
  <header class="header-fixed">
    <div class="header-limiter">
      <div class="float">
        <div class="float-left">

          <a href="/"><img src="/images/creativetechnoly.svg" alt="logo"></a>
        </div>
        <div class="float-right">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
            <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
          </svg>
        </div>
      </div>
      <div class="name">
        <h1>Creative<span>Technology</span></h1>
      </div>
      <nav class="show">
        <a href="/categories/AI">AI</a>
        <a href="/categories/Android">Android</a>
        <a href="/categories/Windows">Windows</a>
        <a href="/categories/IOS">IOS</a>
        <a href="/categories/MAC">Mac</a>
        <a href="/categories/Gadgets">Gadgets</a>
        <a href="/categories/Gaming">Gaming</a>
      </nav>
    </div>

  </header>
  <svg class="footer-wave-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 100" preserveAspectRatio="none"
    style="background-color: #292c2f; rotate: 180deg; position: relative;
  top: 0px;">
    <path class="footer-wave-path" style="fill: white; stroke:none ; border: none;"
      d="M851.8,100c125,0,288.3-45,348.2-64V0H0v44c3.7-1,7.3-1.9,11-2.9C80.7,22,151.7,10.8,223.5,6.3C276.7,2.9,330,4,383,9.8 c52.2,5.7,103.3,16.2,153.4,32.8C623.9,71.3,726.8,100,851.8,100z">
    </path>
  </svg>
</div>