<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../Template-Engine/privacy') %>
</head>

<body>
    <main>
        <%- include('../header.ejs') %>
            <span class="present-page">Last Updated: 20 January 2024</span>
            <h1 class="text-center m-tb heading-color">Privacy Policy</h1>
            <div class="container">
                <div class="row">
                    <div class="large-8 medium-12 small-12 centered columns clearfix">
                        <section class="col-sm-8 col-md-9 article_post">
                            <p class="main-content">Welcome to Creative Technology! We appreciate your interest in our content and are
                                committed to protecting your privacy and ensuring the security of your personal
                                information. This Privacy Policy outlines how we collect, use, and protect the
                                information you provide to us when visiting our website.</p>
                            <ol>
                                <li class="main-content bold">Information We Collect</li>
                                <nav class="main-content">
                                    <ul>
                                        <li class="bold"> Information We Collect: <span>This includes your IP address, browser type,
                                                operating system, device information, referring URLs, and other usage
                                                information. We use this information to analyze trends, administer the
                                                website, track user movements, and gather demographic
                                                information.</span>
                                        </li>
                                        <li class="bold"> Voluntarily Provided Information: <span>We may collect personal information
                                                that you voluntarily provide to us, such as your name, email address,
                                                and
                                                any other information you choose to provide when subscribing to our
                                                newsletter, leaving comments, participating in surveys, or contacting us
                                                through our website.</span></li>
                                    </ul>
                                </nav>
                                <li class="main-content bold">Use of Information</li>
                                <p class="main-content">We use the information we collect for the following purposes:</p>
                                <nav class="main-content">
                                    <ul>
                                        <li class="bold">Content Delivery and Improvement: <span>To provide and improve our content
                                                and services, including tailoring our content to your interests,
                                                analyzing user preferences, and optimizing the user experience.</span>
                                        </li>
                                        <li class="bold">Communication: <span>To communicate with you about your subscriptions,
                                                comments, inquiries, or other interactions with our website.</span></li>
                                        <li class="bold">Personalization: <span>To personalize your experience on our website,
                                                including recommending content based on your preferences and providing
                                                targeted advertisements.</span></li>
                                        <li class="bold">Marketing Communications: <span>To send you marketing communications related
                                                to topics you have expressed interest in, if you have opted in to
                                                receive them. You can unsubscribe from these communications at any
                                                time.</span></li>
                                        <li class="bold">Security: <span>To protect the security and integrity of our website,
                                                prevent fraudulent activities, and ensure compliance with legal
                                                obligations.</span></li>
                                        <li class="bold">Analytics: <span>To analyze trends, track user behavior, and understand the
                                                effectiveness of our content and advertising campaigns.</span></li>
                                    </ul>
                                </nav>
                                <li class="main-content bold">Disclosure of Information</li>
                                <p class="main-content">We may share your information with third parties in the following circumstances:</p>
                                <nav class="main-content">
                                    <ul>
                                        <li class="bold">Service Providers: <span> With service providers who assist us in operating
                                                our website, providing our services, or performing functions on our
                                                behalf, such as hosting, data analysis, marketing, and customer
                                                service.</span></li>
                                        <li class="bold">Legal Compliance: <span>In response to a legal request, court order,
                                                subpoena, law enforcement agency request, or when required to comply
                                                with applicable laws, regulations, or legal processes.</span></li>
                                        <li class="bold">Business Transfers: <span>In connection with a merger, acquisition, sale of
                                                assets, or other business transaction, where the information is
                                                transferred as part of the assets being transferred.</span></li>
                                        <li class="bold">Anonymized Information: <span>We may share aggregated or anonymized
                                                information that does not directly identify you with third parties for
                                                various purposes, including analytics, research, and advertising.</span>
                                        </li>
                                    </ul>
                                </nav>
                                <li class="main-content bold"> Data Security</li>
                                <p class="main-content">We take reasonable measures to protect the security of your information, including
                                    administrative, technical, and physical safeguards. However, please be aware that no
                                    method of transmission over the internet or electronic storage is completely secure,
                                    and we cannot guarantee the absolute security of your information.</p>
                                <li class="main-content bold">Your Choices</li>
                                <p class="main-content">You have the following choices regarding your information:</p>
                                <nav class="main-content">
                                    <ul>
                                        <li class="bold">Providing Information: <span> You can choose not to provide certain
                                                information to us, but this may limit your ability to access certain
                                                features of our website or receive personalized content.</span></li>
                                        <li class="bold">Marketing Communications:<span> You can unsubscribe from marketing
                                                communications at any time by following the instructions provided in the
                                                communication.</span></li>
                                        <li class="bold">Cookies and Tracking Technologies:<span>You can manage your cookie
                                                preferences and opt-out of certain tracking technologies through your
                                                browser settings or by using opt-out mechanisms provided by third-party
                                                analytics and advertising providers.</span></li>
                                    </ul>
                                </nav>
                                <li class="main-content bold">Changes to This Privacy Policy</li>
                                <p class="main-content">We may update this Privacy Policy from time to time to reflect changes in our
                                    practices, technology, legal requirements, or other factors. Any changes will be
                                    posted on this page with an updated effective date. We encourage you to review this
                                    Privacy Policy periodically for any changes.</p>
                                <li class="main-content bold">
                                    Contact Us
                                </li>
                                <p>If you have any questions, feedback, or suggestions for future content, please don't hesitate to get in touch. Your input is invaluable to us as we continue to grow and evolve.
                                    <p class="main-content">You can easily contact us on</p>
                                    <p class="main-content"><a href="/creative-technology/contact" class="contact-link" style="font-size: 18px;">Contact Page</a></p>
                                </p>
                            </ol>

                        </section>
                    </div>
                </div>
            </div>
            <%- include('../footer.ejs') %>

</body>

</html>