<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms of Use- Creative Technology</title>
    <link rel="stylesheet" href="/stylesheets/privacy-policy.css">
    <link rel="stylesheet" href="/stylesheets/about.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="assets/header-fixed.css">
    <link rel="stylesheet" href="/stylesheets/utility.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/responsive.css">
    <link rel="icon" type="image/x-icon" href="/path/to/your/favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>

</head>

<body>
    <main>
        <%- include('../header.ejs') %>
            <span class="present-page">Last Updated: 20 January 2024</span>
            <h1 class="text-center m-tb heading-color">Terms of Use</h1>
            <div class="container">
                <div class="row">
                    <div class="large-8 medium-12 small-12 centered columns clearfix">
                        <section class="col-sm-8 col-md-9 article_post">
                            <p class="main-content">These Terms of Use govern your access to and use of Creative Technology 
                                . By accessing or using the Blog, you agree to be bound by these Terms. If you do
                                not agree to these Terms, you may not access or use the Blog.</p>
                            <ol>
                                <li class="main-content bold">Use of the Blog</li>
                                <p class="margin-half">1.1. You agree to use the Blog only for lawful purposes and in accordance with these
                                    Terms.</p>
                                <p class="main-content">1.2. You are responsible for ensuring that all persons who access the Blog through
                                    your internet connection are aware of these Terms and comply with them.</p>
                                <li class="main-content bold">Intellectual Property Rights</li>
                                <p class="margin-half">2.1. The Blog and its entire contents, including but not limited to articles, images,
                                    videos, and other materials related to Android, Windows, Mac, iOS, gaming, and
                                    gadgets, are owned by Creative Technology and are protected by copyright, trademark,
                                    and other laws.</p>
                                <p class="main-content">2.2. You may not modify, reproduce, distribute, create derivative works of, publicly
                                    display, publicly perform, republish, download, store, or transmit any of the
                                    material on our Blog, except as provided herein or with our prior written consent.
                                </p>
                                <li class="main-content bold">User Contributions</li>
                                <p class="margin-half">3.1. The Blog may contain interactive features that allow users to post comments,
                                    feedback, or other content related to Android, Windows, Mac, iOS, gaming, and
                                    gadgets.</p>
                                <p class="main-content">3.2. We have the right to remove or refuse to post any User Contributions for any or
                                    no reason in our sole discretion.</p>
                                <li class="main-content bold">Disclaimer</li>
                                <p class="main-content">4.1. The content on the Blog is provided for informational purposes only. We do not
                                    warrant the accuracy, completeness, or usefulness of this information. Any reliance
                                    you place on such information is strictly at your own risk.</p>
                                <li class="main-content bold">Limitation of Liability</li>
                                <p class="main-content">5.1. In no event will we be liable for any direct, indirect, special, incidental,
                                    consequential, or punitive damages arising out of your access to, use of, inability
                                    to use, or reliance on the Blog, even if advised of the possibility of such damages.
                                </p>
                                <li class="main-content bold">Enforcement of Copyright</li>
                                <p class="margin-half">6.1. We are committed to protecting our intellectual property rights, including our
                                    copyright. This means that we actively monitor for instances of unauthorized copying
                                    or use of our content. If we discover that our content has been copied or used
                                    without our permission, we will take appropriate action to address the infringement.
                                </p>
                                <p class="margin-half">6.2. This action may include issuing a formal takedown notice to the infringing party
                                    or website hosting the unauthorized content. Additionally, we may pursue legal
                                    remedies available to us under copyright law to stop the unauthorized use and seek
                                    damages for any harm caused by the infringement.</p>
                                <p class="main-content">6.3. We encourage anyone who believes their copyright has been infringed by our
                                    content to contact us promptly. We take all reports of copyright infringement
                                    seriously and will investigate and address each claim accordingly.</p>
                                <li class="main-content bold">Changes to the Terms</li>
                                <p class="main-content">7.1. We reserve the right to amend these Terms at any time without notice. All
                                    amendments will be effective immediately upon posting on the Blog. Your continued
                                    use of the Blog following the posting of any amendments constitutes acceptance of
                                    those amendments.</p>
                                <li class="main-content bold">Contact Us</li>
                                <p>If you have any questions, feedback, or suggestions for future content, please don't
                                    hesitate to get in touch. Your input is invaluable to us as we continue to grow and
                                    evolve.
                                <p class="main-content">You can easily contact us on</p>
                                <p class="main-content"><a href="/creative-technology/contact" class="contact-link"
                                        style="font-size: 18px;">Contact Page</a></p>
                                </p>
                            </ol>
                        </section>
                    </div>
                </div>
            </div>
            <%- include('../footer.ejs') %>

</body>

</html>