<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/blog-post.css">
    <link rel="stylesheet" href="/stylesheets/blog-post-utlity.css">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>
    <header class="relative">
        <li class="items logo" style="list-style: none;"><a href="/">Creative-Technology</a></li>

        <nav>
            <ul class="navlinks">
                <li class="items"><span class="material-symbols-outlined">
                        add
                    </span>
                    <div class="menu absolute">
                        <ul class="flex space-evenly menu-ul">
                            <li class="menu-list">Text
                                <div class="sub-menu none absolute">
                                    <ul class="sub-menu-ul flex space-evenly">
                                        <li id="Paragraph">Paragraph</li>
                                        <li id="Heading">Heading</li>
                                        <li id="List">List</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu-list">Media
                                <div class="sub-menu none absolute">
                                    <ul class="sub-menu-ul flex space-evenly">
                                        <li id="addFileButton">File</li>
                                        <li id="addGalleryButton">Gallery</li>
                                        <li id="addAudioButton">Audio</li>
                                        <li id="add-video-button">Video</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu-list">Design
                                <div class="sub-menu none absolute">
                                    <ul class="sub-menu-ul flex space-evenly">
                                        <li id="Button">Button</li>
                                        <li id="Colums">Colums</li>
                                        <li id="Group">Group</li>
                                        <li id="Row">Row</li>
                                        <li id="Vertically">Vertically</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="items"><span class="material-symbols-outlined">
                        edit
                    </span>
                    <div class="items-sub-menu">
                        <ul>
                            <li id="select">Select</li>
                            <li id="edit">Edit</li>
                        </ul>
                    </div>
                </li>
                <li class="items" id="save"><lord-icon src="https://cdn.lordicon.com/xpgofwru.json" trigger="hover"
                        colors="primary:#ffffff">
                    </lord-icon></li>
                <button class="items" id="Publish">Publish</button>

                <li><a href="#"><ion-icon name="menu-outline"></ion-icon></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container" id="container">
            <div class="Heading margin-top-bottom heading-color">
                <h1 aria-label="Add Title" role="textbox" aria-multiline="true" id="mainHeading" class="fonts outline" style="color: inherit;">
                    Add Title
                </h1>
            </div>
            <div class="Paragraph margin-top-bottom ">
                <p contenteditable="true" aria-label="Paragraph" role="textbox" aria-multiline="true" id="Paragraph"
                    class="fonts outline">
                    Write Paragraph
                </p>
            </div>

        </div>
    </main>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.lordicon.com/lordicon.js"></script>
<script src="/javascripts/blog11.js"></script>
<script src="/javascripts/Heading.js"></script>
<script src="/javascripts/blog2.js"></script>
<script src="/javascripts/blog3.js"></script>
<script src="/javascripts/blog4.js"></script>
<script src="/javascripts/blog5.js"></script>
<script src="/javascripts/blog6.js"></script>
<script src="/javascripts/blog7.js"></script>
<script src="/javascripts/blog8.js"></script>
<script src="/javascripts/blog9.js"></script>
<script src="/javascripts/blog10.js"></script>
<script src="/javascripts/ralis.js"></script>
<script>
    document.getElementById('save').addEventListener('click', function() {
      // Extract data from HTML elements
      let containerdata = document.getElementById("container")
      let dataincontainer = containerdata.innerHTML
      console.log(dataincontainer)

      // Send data to server
      fetch('/data', {
        method: 'POST',
        headers: {
          'Content-Type': 'text/plain' // Send as plain text
        },
        body: dataincontainer // Send the innerHTML of the container
      })
      .then(response => response.text())
      .then(message => {
        console.log('Server response:', message);
      })
      .catch(error => {
        console.error('Error sending data:', error);
      });
    });
</script>
</html>