<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../Template-Engine/blog') %> 
</head>

<body>
    <%- include('../header.ejs')%>

        <main>
            <div class="collection">
                <div class="heading m-tb">
                    <h1 class="flex justify-center blog-heding">The latest M3 MacBook Air</h1>
                </div>
                <div class="overview margin-bottom">
                    <p class="blog-text-overview margin-bottom">Apple has just announced the latest M3 MacBook Air, and it's a significant upgrade over the previous model. The new laptop features a faster M3 chip, longer battery life, and a more modern design.
                    </p>
                    <p class="blog-text-overview margin-bottom bold">Here's a closer look at what's new in the M3 MacBook Air:
                    </p>
                </div>

                <hr>
                <section class="container margin-top">
                    <div class="blog-step-1 margin-bottom">
                        <h1 class="margin-bottom">M3 chip:</h1>
                        <p class="blog-text-overview margin-top-bottom">The M3 chip is Apple's latest and greatest chip. It's up to 60% faster than the M1 chip in the previous MacBook Air, and it's up to 13x faster than the Intel-based MacBook Air. This makes the M3 MacBook Air incredibly fast and powerful, perfect for even the most demanding tasks. The M3 MacBook Air has an 8-core CPU and 10-core GPU, 8GB of unified memory, and a 256GB SSD.</p>
                    </div>
                    <hr>
                    <div class="blog-step-2 margin-top-bottom">
                        <h1 class="margin-bottom">Longer battery life:</h1>
                        <p class="blog-text-overview margin-top-bottom">The M3 MacBook Air also gets a significant battery life boost. Apple claims that the new laptop can last up to 18 hours on a single charge, which is up from 15 hours on the previous model. This means that you can easily use the M3 MacBook Air all day long without having to worry about running out of power.</p>
                    </div>
                    <hr>
                    <div class="blog-step-3 margin-top-bottom">
                        <h1 class="margin-bottom">More modern design:</h1>
                        <p class="blog-text-overview margin-top-bottom">The M3 MacBook Air also gets a more modern design. The bezels around the display are thinner, and the overall design is more sleek and streamlined. The new laptop is also available in a new midnight color option.
                        </p>
                    </div>
                    <hr>
                    <div class="blog-step-4 margin-top-bottom">
                        <h1 class="margin-bottom">Performance:
                        </h1>
                        <p class="blog-text-overview margin-top-bottom">The M3 MacBook Air is a significant performance upgrade over the previous model. The M3 chip is up to 60% faster than the M1 chip, and it's up to 13x faster than the Intel-based MacBook Air. This makes the M3 MacBook Air incredibly fast and powerful, perfect for even the most demanding tasks.</p>
                        <p class="blog-text-overview margin-top-bottom">The M3 MacBook Air can handle everything from basic tasks like browsing the web and checking email to more demanding tasks like video editing and gaming. It can also handle multiple tasks at the same time without slowing down.</p>
                    </div>
                    <hr>
                    <div class="blog-step-5 margin-top-bottom">
                        <h1 class="margin-bottom">Price:</h1>
                        <p class="blog-text-overview margin-top-bottom">The M3 MacBook Air starts at $1,099 for the 13-inch model and $1,299 for the 15-inch model. This is a significant price increase over the previous model, which started at $999. However, the M3 MacBook Air is a much more powerful laptop, so the price increase is justified.
                        </p>
                    </div>
                    <hr>
                    <div class="ending">
                        <p class="blog-text-overview margin-top-bottom bold">**Overall, the M3 MacBook Air is a significant upgrade over the previous model. It's faster, more powerful, and has a longer battery life. If you're looking for a new laptop, the M3 MacBook Air is a great option.**</p>
                        <p class="blog-text-overview margin-top-bottom bold">Here are some of the pros and cons of the M3 MacBook Air:</p>
                        <ul class="bold margin-top-bottom">Pros:
                            <li class="blog-text-overview margin-top-bottom normal">M3 chip</li>
                            <li class="blog-text-overview margin-top-bottom normal">Longer battery life</li>
                            <li class="blog-text-overview margin-top-bottom normal">More powerful graphics</li>
                            <li class="blog-text-overview margin-top-bottom normal">Better display</li>
                        </ul>
                        <ul class="bold margin-top-bottom">Cons:
                            <li class="blog-text-overview margin-top-bottom normal">Software compatibility</li>
                            <li class="blog-text-overview margin-top-bottom normal">Limited ports</li>
                            <li class="blog-text-overview margin-top-bottom normal">Upgradability</li>
                            <li class="blog-text-overview margin-top-bottom normal">High Price</li>
                        </ul>
                    </div>


                </section>
            </div>

        </main>


        <%- include('../footer.ejs') %>
</body>
<script src="/javascripts/Index.js"></script>

</html>