<div class="follow_subscribe_section m-tb" style="margin-left: auto; margin-right: auto;" id="subscribe_follow">
    <div class="follow_subscribe">
        <div class="follow">
            <p>Follow us on</p>
            <div class="twitter follow_logo"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    width="24" height="24">
                    <path fill="#1DA1F2"
                        d="M22.46 6c-.77.35-1.5.58-2.28.68a4 4 0 001.69-2.18 8 8 0 01-2.53.97 4 4 0 00-6.81 3.64A11.3 11.3 0 013 5.56a4 4 0 001.24 5.31A4 4 0 012.8 10v.05a4 4 0 003.23 3.92 4 4 0 01-1.8.07 4 4 0 003.74 2.78A8.2 8.2 0 012 19.54a11.4 11.4 0 006.29 1.85c7.55 0 11.68-6.25 11.68-11.67 0-.18 0-.35-.02-.53A8.3 8.3 0 0024 4.57a8.2 8.2 0 01-2.36.65 4 4 0 001.76-2.22z" />
                </svg>
                <a href="" class="follow_link">Twitter</a>
            </div>
            <div class="instagram follow_logo"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    width="24" height="24">
                    <linearGradient id="a" x1="12" x2="12" y1="2" y2="22.54" gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#f58529" />
                        <stop offset=".507" stop-color="#dd2a7b" />
                        <stop offset=".99" stop-color="#8134af" />
                    </linearGradient>
                    <path fill="url(#a)"
                        d="M7 2C4.2 2 2 4.2 2 7v10c0 2.8 2.2 5 5 5h10c2.8 0 5-2.2 5-5V7c0-2.8-2.2-5-5-5H7zm10 1c2.2 0 4 1.8 4 4v10c0 2.2-1.8 4-4 4H7c-2.2 0-4-1.8-4-4V7c0-2.2 1.8-4 4-4h10z" />
                    <circle cx="12" cy="12" r="4.5" fill="none" stroke="url(#a)" stroke-width="1.5" />
                    <circle cx="17.5" cy="6.5" r="1.5" fill="none" stroke="url(#a)" stroke-width="1.5" />
                </svg>

                <a href="" class="follow_link">Instaram</a>
            </div>
            <div class="facebook follow_logo"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    width="24" height="24">
                    <rect width="24" height="24" fill="#1877F2" rx="4" />
                    <path fill="#FFFFFF"
                        d="M15.12 8.632h-2.066V7.256c0-.497.329-.611.561-.611h1.474V4.26L13.26 4.25c-2.576 0-3.165 1.888-3.165 3.11v1.272H8v2.44h2.095v7.06h2.576v-7.06h1.785l.279-2.44z" />
                </svg>
                <a href="" class="follow_link">Facebook</a>
            </div>
        </div>
        <div class="subscribe">
            <p style="text-align: center;">If you want to get notifications about our latest and upcoming
                articles, follow us below to Explore</p>
            <div class="email">
                <h3 class="m-tb heading-color">the Latest Tech Trends</h3>
                <h3 class="m-tb heading-color">In-Depth Tutorials and Guides</h3>
                <h3 class="m-tb heading-color">Get Answers to Your Tech Questions</h3>
                <h3 class="m-tb heading-color">Stay Updated with Industry News </h3>
            </div>
        </div>
    </div>
</div>